.empty-nuts {
  margin-top: rem-calc(180);

  &-content {
    display: grid;
    grid-template-columns: 65% 35%;

    > div {
      width: 100%;
    }
  }

  &-img {
    width: 100%;
  }

  &-item {
    padding: 24px;
    color: $black;
    background-color: $white;
    box-shadow: 0 0 37px 0 rgba(0, 0, 0, 0.25);
    border-radius: $radius-md;

    .item-title {
      margin-bottom: 15px;
      font-weight: $font-weight-bold;
      line-height: 32px;
    }

    .item-deadline {
      color: $grey-300;
      font-size: 14px;
    }

    .item-date {
      font-size: 16px;
    }

  }

  .swiper-grid-column > .swiper-wrapper {
    flex-direction: unset;
  }

  .swiper-slide {
    margin-top: unset !important;
  }
}