.faq {
  min-height: rem-calc($faq-height);
  margin-top: rem-calc(100);
  background-color: $grey-800;

  .container-fluid {
    min-height: rem-calc($faq-height);
  }

  &-inner {
    display: grid;
    grid-template-columns: 65% 35%;
  }

  &-content {
    padding-right: rem-calc(100);
  }

  &-right-col {
    height: 100%;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .container-fluid {
    display: flex;
    padding-right: 0;
  }

  .title {
    margin-top: rem-calc(150);
    color: $grey-600;
  }

  .accordion-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: rem-calc(75) rem-calc(105);
    height: auto;
    align-items: flex-start;
    margin-top: rem-calc(100);
  }
}