.footer {
  width: 100%;
  min-height: rem-calc($footer-height);
  position: relative;
  color: $white;
  background-color: $primary;

  &-top {
    display: flex;
    justify-content: space-around;
    gap: rem-calc(20);
    padding-block: rem-calc(50) rem-calc(40);
  }

  &-bottom {
    padding-block: rem-calc(35) rem-calc(20);
    background-color: $primary-dark;

    p {
      font-size: rem-calc(12);
    }
  }

  &-logo {
    height: rem-calc(45);
    margin-bottom: rem-calc(10);

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  &-link {
    display: block;
    font-size: rem-calc(14);
    font-weight: $font-weight-light;
  }

  &-title {
    margin-bottom: rem-calc(10);
    font-size: rem-calc($font-size-base);
    font-weight: $font-weight-bold;
    text-transform: capitalize;
  }

  .privacy-link {
    padding-inline: rem-calc(10);
    text-decoration: underline;
  }

  .design-author {
    @include position(absolute, $right: rem-calc(80), $bottom: rem-calc(20))
  }

  /* 576px and smaller */
  @include media-breakpoint-down(xs) {
    &-top {
      flex-direction: column;
      align-items: center;
      text-align: center;
    }

    &-bottom p {
      text-align: center;
    }
  }


}