// flexbox
.d-flex {
  display: flex;
}

.justify-content-end {
  justify-content: flex-end;
}

.justify-content-between {
  justify-content: space-between;
}

.justify-content-center {
  justify-content: center;
}

.align-items-center {
  align-items: center;
}

.align-items-end {
  align-items: flex-end;
}

.flex-column {
  flex-direction: column;
}

.d-block {
  display: block !important;
}

.text-center {
  text-align: center;
}

.text-link {
  color: $link-color;
}

.w-100 {
  width: 100% !important;
}

// spacing
.mt-auto {
  margin-top: auto;
}
