// colors
$white: #fff;
$black: #000;

$grey-100: #e2e2e2;
$grey-200: #c3c3c3;
$grey-300: #727272;
$grey-400: #8e8e8e;
$grey-500: #4c4A46;
$grey-600: #979491;
$grey-700: #353431;
$grey-800: #252523;
$grey-900: #1d1d1d;

$body-color: $grey-500;
$body-bg: $white;

$red: #ff0000;
$muted: #b5b5b5;
$link-color: #007dd5;

$primary: #4e8035;
$primary-light: #9cc255;
$primary-dark: #2a5515;

$primary-light-light: #e8f2fb;
$secondary: #fcc309;
$secondary-hover: #dba338;
$danger: $red;

// fonts
$font-family-base: "Roboto", sans-serif;

//font-family: HayRoboto;

$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-medium: 500;
$font-weight-semi-bold: 600;
$font-weight-bold: 700;

$font-weight-base: $font-weight-normal;

// spaces
$spacer: 5px;
$spacers: (
  xxs: $spacer, // 5
  xs: $spacer * 2, // 10
  sm: $spacer * 3, // 15
  md: $spacer * 5, // 25
  lg: $spacer * 6 // 30,,
);

$sp-xxs: $spacer; // 5
$sp-xs: $spacer * 2; // 10
$sp-sm: $spacer * 3; // 15
$sp-md: $spacer * 5; // 25
$sp-lg: $spacer * 6; // 30

// screens
$breakpoints: (
  xs: 576px,
  sm: 768px,
  md: 992px,
  lg: 1440px,
  xl: 1920px,
);

$containerSizes: (
  lg: 1152px,
  xl: 1680px,
);

$sp-container-x: 45;

// font sizes
$font-size-base: 20;
$font-size-h1: 72;

// border radius
$radius: 26px;
$radius-md: 18px;
$radius-xs: 9px;
$radius-circle: 50%;

$radius-base: $radius;

// z index
$navbar-zIndex: 999;

// header
$header-height: 148;
$header-top-btn-height: 28;
$header-top-m-x: 4;
$header-input-height: 40;

// navbar
$navbar-height: 160;

// accordion
$accordion-btn: $grey-700;
$accordion-btn-w: 60px;

$faq-height: 1080;
