// colors
$white: #fff;
$black: #000;

$grey-100: #f5f5f5;
$grey-200: #c3c3c3;
$grey-300: #acacac;
$grey-400: #636262;
$grey-500: #4c4A46;
$grey-600: #919191;
$grey-900: #1d1d1d;

$body-color: $grey-500;
$body-bg: $white;

$red: #ff0000;
$muted: rgba($black, 0.4);
$link-color: #007dd5;

$primary: #9cc255;
$primary-hover: #193b5a;
$primary-dark: #0b3b5d;
$primary-light: #e8f2fb;
$secondary: #fcc309;
$secondary-hover: #dba338;
$danger: $red;

// fonts
$font-family-base: "MontserratArm", sans-serif;

//font-family: HayRoboto;

$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-medium: 500;
$font-weight-semi-bold: 600;
$font-weight-bold: 700;

$font-weight-base: $font-weight-normal;

// spaces
$spacer: 5px;
$spacers: (
  xxs: $spacer, // 5
  xs: $spacer * 2, // 10
  sm: $spacer * 3, // 15
  md: $spacer * 5, // 25
  lg: $spacer * 6 // 30,,
);

$sp-xxs: $spacer; // 5
$sp-xs: $spacer * 2; // 10
$sp-sm: $spacer * 3; // 15
$sp-md: $spacer * 5; // 25
$sp-lg: $spacer * 6; // 30

// screens
$breakpoints: (
  xs: 576px,
  sm: 768px,
  md: 992px,
  lg: 1440px,
  xl: 1920px,
);

$containerSizes: (
  lg: 1152px,
  xl: 1712px,
);

$sp-container-x: 45;

// font sizes
$font-size-base: 20;

// border radius
$radius: 26px;
$radius-xs: 3;
$radius-sm: 6;
$radius-rounded: 25;
$radius-circle: 50%;

$radius-base: $radius;

// z index
$header-zIndex: 999;
$dropdown-zIndex: 2;

// header
$header-height: 148;
$header-top-btn-height: 28;
$header-top-m-x: 4;
$header-input-height: 40;

// navbar
$navbar-height: 200;
$nav-item-mx: 24;
$nav-item-width: 180;

// footer
$footer-height: 230;

// radio button
$radio-button-size: 15;

// dropdown
$dropdown-nav-size: 300;

// input
$input-height: 40px;

// button
$btn-height: 30;
$btn-xs-height: 25;
$btn-sm-height: 35;

$nav-item-height-m: 50px;

$font-size-h1: 72;